<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/favicon1.png"/>
	<title>{{ page.title }}</title>


	<link href="workworkwork/css/style.css" rel="stylesheet">
	<link href="workworkwork/css/bootstrap.css" rel="stylesheet">




	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet">



</head>
<body>

<!--NAVBAR-->
   
<div class="barra_nav">
<nav>
	<ul>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <li><a href="about.html">Meet Me</a></li>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <li><a href="index.html">WorkWorkWork</a></li>
       </div>
   </ul>
</nav>
</div>

  
<!--FIM NAVBAR-->

<div class="row-amarela"></div>
<div class="fundo">
<div class="container">
  {{ content }}
</div>
</div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>
</html>
