body{
	font-family: 'Raleway', sans-serif;
}

.row-amarela{
	background-color: #FFDD5C;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 20px;
	height: 20px;
}


.fundo{
	background-color: #E6E6E6;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px !important;
	padding-top: 20px !important;
	padding-left: 30px;
	padding-right: 30px;
}

::-moz-selection { /* Code for Firefox */
    color: #FFDD5C;
    background-color:#000000;
}

::selection {
    color: #FFDD5C;
    background-color: #000000;
}

.barra_nav{
	background-color: #FFDD5C;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	height: 60px;
	color:black;
	font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
    display: flex;
	flex-direction: column; /* CENTRAR NA VERTICAL 1/3*/
	justify-content: center;/* CENTRAR NA VERTICAL 2/3*/
	 text-align:center; /* CENTRAR NA VERTICAL 3/3*/
   /*    display: table;
    width: 97%;*/

}

.barra_nav nav ul li a{
	color: black;
	/*display: table-cell;
  	vertical-align: middle;*/

}


.container{

	width: 100%;
	display: inline;

}

.container_work{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;

}

.container_work img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
}

.container_work:hover .overlay{
	opacity: 1;
}

.container_work:hover img{
	opacity: 0.5;
}

.project_title{
	color: black;
	font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}



nav ul, footer ul {
    padding: 0px;
    list-style: none;
    padding: 5px;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


.titulo_pagina{
	color:black;
	font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    vertical-align: center;
    text-align:center; 
}

.imagem_perfil{
	width: 100%;
	height: 260px;
	background-color: #FFDD5C;
	margin-top: 20px;
	margin-bottom: 20px;
}

.texto_perfil{
	color:black;
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    vertical-align: center;
    text-align:justify; 
}

.icons_perfil img{
	width: 30px;
	height: 30px;
	margin-left: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info{
	margin-top: 20px;
}

.post{
	margin-top: 40px;
}

.imagem_projeto{
	width: 100%;
	height: 260px;
}

.imagem_projeto img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}



button[type=button]{
	background-color: #FFDD5C;
	color:black;
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button[type=button]:hover{
text-decoration: underline;
}




/* FORMULÁRIO */

.formulario{
	margin-top: 20px;
}

select,textarea{
	width: 100%;
	border: 4px solid #FFDD5C;
	min-height: 100px;
	max-height: 400px;
	resize:vertical;
    padding: 10px;
    text-align: left;
    margin-bottom: 40px;
}

input[type=text]{
	width: 60%;
	border: 4px solid #FFDD5C;
	resize:vertical;
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    height: 50px;
    margin-top: 10px;

}


input[type="submit"]{
	background-color: #FFDD5C;
	color: black;
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    border: 4px solid #FFDD5C;
    width: 39%;
    height: 50px;
	margin-top: 10px;
}


/* FIM DE FORMULÁRIO */


.about{
	background-color: #e6e6e6;
	width: 100vh;
}

@media screen and (max-width: 800px) and (min-width: 500px){

 .container_work{
	width: 100%;
	height: 320px;
	margin-bottom: 20px;
	}
}


@media screen and (max-width: 500px){
   .barra_nav{
   	font-size: 20px;
   	padding-right: 30px;
   }

 .container_work{
	width: 100%;
	height: 180px;
	margin-bottom: 20px;

	}


	input[type=text]{
	width: 100%;

}


	input[type="submit"]{

	    width: 100%;
	}
}

/* ----------- iPhone 4 and 4S ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.barra_nav{
   	font-size: 14px;
   	padding-right: 30px;
   }
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
.barra_nav{
   	font-size: 14px;
   	padding-right: 30px;
   }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
.barra_nav{
   	font-size: 14px;
   	padding-right: 30px;
   }
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
.barra_nav{
   	font-size: 14px;
   	padding-right: 30px;
   }
}
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
.barra_nav{
   	font-size: 14px;
   	padding-right: 30px;
   }
}
}








